body {
	min-width: 1440px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}


.clearafix::after {
	content: "";
	
	display: table;
	clear: both;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-footer {
	background-color: #eeeeee;
} 


.footer-top nav {
	float: left;
	width: 1000px;
}

.footer-top ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-top li {
	display: inline-block;
	vertical-align: top;
}

.footer-top a {
	display: block;
	margin-top: 75px;
	margin-right: 42px;
	
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.footer-top a:hover {
	color: #fb565a;
}

.footer-top a:active {
	color: #000000;
	opacity: 0.3;
}

.nav-active {
	min-height: 124px;

	background-image: url(../img/nav-active.png);
	background-repeat: no-repeat;
	background-position: 1px 108px;
}

.footer-top .main-logo {
	margin: 0;
	margin-top: 49px;
	margin-right: 197px;
}

.footer-top .main-logo:hover {
	opacity: 0.8;
}

.footer-top .main-logo:active {
	opacity: 0.3;
}

.user-block {
	float: right;
	width: 160px;

	background-image: url(../img/icon-basket.png);
	background-repeat: no-repeat;
	background-position: 45px 82px;  
}

.user-block  a {
	display: block;
	margin-left: 85px;
}

.name-page {
	margin-left: 215px;
	margin-top: 68px;
	padding-bottom: 110px;
}

.name-page h1 {
	margin: 0;
	padding: 0;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider {
	position: relative;
	width: 1160px;
	height: 430px;
}

.slider input[type=radio] {
  position:absolute;
  opacity:0;
}

.slider-control {
	position: absolute;
	left: 500px;
	top: 306px;
	min-width: 160px;
	height: 18px;
	
	text-align: center;
	z-index: 1000;
}

.slider-control label {
	display: inline-block;
	margin-right: 10px;

	background-color: #ffffff;
	border: 5px solid #ffffff;
	border-radius: 50%;
	vertical-align: top;
	cursor: pointer;
	width: 10px;
	height: 10px;
}

#btn-1:checked ~ .slider-control label[for="btn-1"],
#btn-2:checked ~ .slider-control label[for="btn-2"],
#btn-3:checked ~ .slider-control label[for="btn-3"] {
	background: #c1c1c1;
}

.slide-title {
	padding-top: 67px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}


.slide-text p {
	margin: 0;
	padding: 0;
	margin-top: 25px;
	margin-bottom: 40px;

	font-size: 16px;
	line-height: 24px;
}

.btn {
	display: block;
	width: 240px;
	padding: 16px 0;

	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	color:#ffffff;
	background: #fb565a;
	border-radius: 2px;
}

.btn:hover {
	background-color: #e74246;
}

.btn:active {
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
	box-shadow: inset 0 3px 0 rgba(0,1,1,0.1);
}

.slide {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
	display: none;
}

.slide:nth-child(1) {
	width: 1160px;
	height: 420px;

	background-image: url(../img/slide1.png);
	background-repeat: no-repeat;
	background-position: 431px 7px;
}

.slide:nth-child(2) {
	width: 1160px;
	height: 420px;

	background-image: url(../img/slide2.png);
	background-repeat: no-repeat;
	background-position: 496px 0;
}

.slide:nth-child(3) {
	width: 1160px;
	height: 420px;

	background-image: url(../img/slide3.png);
	background-repeat: no-repeat;
	background-position: 400px 9px;
}


#btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}

.services {
	min-height: 428px;
	margin-top: 80px;
	border-bottom: 2px solid #eeeeee;
	margin-bottom: 39px;
}

.services h2 {
	margin: 0;
	padding: 0;
	margin-top: 172px;
	margin-bottom: 15px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700; 
	text-transform: uppercase;
	
}

.services p {
	width: 260px;
	margin: 0;
	padding: 0;
	margin-bottom: 33px; 

	font-size: 16px;
	line-height: 24px;

	color: #283136;
}

.services a {
	display: block;
	width: 160px;
	padding: 16px 0;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	color: #ffffff;
	background-color: #fb565a;
	border-radius: 2px;
}

.services-site {
	float: left;
	width: 300px;
	margin-right: 100px;

	background-repeat: no-repeat;
	background-image: url(../img/illustration-1.png);
	background-position: 0 0;	 
}

.services-site a {
	background-color: #fb565a;
}

.services-site a:hover {
	background-color: #e74246;
	box-shadow: 0 3px 7px rgba(0,0,0,0.35);
}

.services-site a:active {
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
	box-shadow: 0 3px 7px rgba(0,0,0,0.35)
				inset 0 3px 0 rgba(0,1,1,0.1);

}

.services-attachment {
	float: left;
	width: 300px;
	margin-right: 100px;

	background-repeat: no-repeat;
	background-image: url(../img/illustration-2.png);
	background-position: 0 0;
}

.services-attachment a {
	background-color: #00ca74;
}

.services-attachment a:hover {
	background-color: #00bc6c;
	box-shadow: 0 3px 7px rgba(0,0,0,0.35);
}

.services-attachment a:active {
	background-color: #00aa62;
	color: rgba(255,255,255,0.3);
	box-shadow: 0 3px 7px rgba(0,0,0,0.35)
				inset 0 3px 0 rgba(0,1,1,0.1);
}

.services-presentation {
	float: left;
	width: 300px;

	background-repeat: no-repeat;
	background-image: url(../img/illustration-3.png);
	background-position: 0 0;
}

.services-presentation a {
	background-color: #efc84a;
}

.services-presentation a:hover {
	background-color: #eab534;
	box-shadow: 0 3px 7px rgba(0,0,0,0.35);
}

.services-presentation a:active {
	background-color: #e5a722;
	color: rgba(255,255,255,0.3);
	box-shadow: 0 3px 7px rgba(0,0,0,0.35)
				0 3px 0 rgba(0,1,1,0.1);
}

.info-company {
	height: 485px;
}

.content-left {
	float: left;
	width: 660px;
}

.content-left b {
	display: block;
	margin-top: 35px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.content-left p {
	margin: 0;
	padding: 0;

	margin-top: 33px;

	font-size: 16px;
	line-height: 24px;	

	color: #283136;
}

.content-left h3 {
	margin: 0;
	padding: 0;
	margin-top: 40px;

	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.content-left ul {
	margin: 0;
	padding: 0;
	margin-top: 24px;

	list-style: none;
}

.content-left li {
	padding-left: 36px;
	padding-bottom: 24px;
	font-size: 16px;
	line-height: 24px;

	color: #283136;
	background-image: url(../img/line-%20ul.png);
	background-repeat: no-repeat;
	background-position: 0px 11px;
}

.content-right {
	float: right;
	width: 360px;
}

.content-right img {
	margin-bottom: 29px;
}

.content-right h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 17px;
}

.features {
	margin: 0;
	padding: 0;
	margin-top: 47px;
}

.features  li {
	display: inline-block;
	margin-right: 10px;

	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
}


.features-item {
	margin: 0;
	padding: 0;
	list-style: none;
}

.features-item li {
	display: inline-block;
	width: 115px;
	margin-top: 19px;

	font-size: 16px;
	line-height: 18px;

	color: #283136;
}

.logo-cllients {
	margin-bottom: 81px; 
	clear: both;
	height: 178px;
	border-bottom: 2px solid #eeeeee;
	border-top: 2px solid #eeeeee;
}

.logo-cllients ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 180px;
}

.logo-cllients li {
	display: inline-block;
	vertical-align: middle;
}

.logo-cllients li:nth-child(1) {
	padding-right: 96px;
	padding-top: 60px;
	padding-bottom: 50px;
	margin-left: 29px;

	background-image: url(../img/div.png);
	background-repeat: no-repeat;
	background-position: 250px 60px;
}

.logo-cllients li:nth-child(2) {
	padding-right: 97px;
	padding-top: 45px;
	padding-bottom: 44px;

	background-image: url(../img/div.png);
	background-repeat: no-repeat;
	background-position: 250px 60px;
}

.logo-cllients li:nth-child(3) {
	padding-right: 117px;
	padding-top: 64px;
	padding-bottom: 63px;

	background-image: url(../img/div.png);
	background-repeat: no-repeat;
	background-position: 240px 65px;
}

.logo-cllients li:nth-child(4) {
	margin-top: 5px;
}

.logo-cllients img {
	opacity: 0.2;
}

.logo-cllients img:hover {
	opacity: 1;
}

.logo-cllients img:active {
	opacity: 0.1;
}

/* catalog */
.header-goods {
	margin-top: 54px;
	margin-bottom: 48px;
}

.header-goods span {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.goods-price {
	float: left;
	width: 260px; 
	margin-right: 140px;     
}

.goods-nav {
	float: left;
	width: 760px;
}

.goods-nav span {
	margin-right: 261px;

	line-height: 18px;
}

.goods-nav ul,li {
	display: inline-block;
	vertical-align: top;
}

.goods-nav ul {
	margin: 0;
	padding: 0;
}

.goods-nav a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	
	color: #000000;
	opacity: 0.3;
}

.goods-nav a:hover {
	opacity: 0.6;
}

.goods-nav a:active {
	opacity: 1;
}

.goods-nav li:nth-child(1) {
	margin-right: 22px;
}

.goods-nav li:nth-child(2) {
	margin-right: 21px;
}

.goods-nav li:nth-child(3) {
	margin-right: 46px;
}

.goods-nav .goods-nav-active {
	opacity: 1;
}

.goods-nav .arrow {
	display: inline-block;
	width: 9px;
	height: 9px;

	font-size: 0;
}

.goods-nav .down {
	margin-right: 16px;

	background-image: url(../img/arrow-down-active.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}

.goods-nav .up {
	background-image: url(../img/arrow-up-active.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}

.search-gods {
	float: left;
	width: 260px;
}

.search-gods h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 13px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.range-filter {
	margin-bottom: 54px;
}

.range-control {
	position: relative;
	width: 220px;
	height: 42px;
	padding-top: 36px;
	padding-left: 19px;
	padding-right: 19px;

	background-color: #eeeeee;
	border-radius: 2px;
}

.scale { 
	height: 2px;

	background-color: #d7dcde;
}

.bar {
	width: 152px;
	height: 2px;

	background-color: #00ca74;
}

.toggle {
	position: absolute;
	top: 28px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px #cfcfcf;
}

.toggle-max {
	left: 160px;
}

.price-control {
	display: inline-block;
	vertical-align: top;
}

.price-control label {
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
}

.price-control input {
	width: 80px;
	height: 37px;
	margin-top: 14px;

	font-size: 16px;
	line-height: 22px;
	text-align: center;

	border: none;
	color: #283136;
	background-color: #eeeeee;
	border-radius: 2px;	
}

.price-min {
	margin-left: 10px;
	margin-right: 29px;
}

.price-max {
	margin-left: 12px;
}

.radio {
	margin-bottom: 29px;
}

.radio p {
	margin: 0;
	padding: 0;

	font-size: 16;
	line-height: 20px;

	color: #283136;
} 

.radio input[type="radio"] {
	display: none;
}

.radio input[type="radio"]+span::before {
	content: url(../img/radio-hover-1.png);
	display: inline-block;
	vertical-align: top;
	opacity: 0.4;
	margin-right: 10px;
	margin-bottom: 10px;
}

.checkbox {
	margin-bottom: 32px;
}

.radio input[type="radio"]:checked+span::before {
	content: url(../img/radio-checked-1.png);
} 

.checkbox input[type="checkbox"] {
	display: none;
}

.checkbox input[type="checkbox"]+span::before {
	content: url(../img/checkbox-1.png);
	display: inline-block;
	vertical-align: top;
	opacity: 0.4;
	margin-right: 13px;
	margin-bottom: 12px;
}

.checkbox input[type="checkbox"]:checked+span::before {
	content: url(../img/checkbox-active-1.png);
} 

.checkbox input[type="checkbox"]+span:hover::before,
.radio input[type="radio"]+span:hover::before {
	opacity: 1;
}


.checkbox p {
	margin: 0;
	padding: 0;

	font-size: 16;
	line-height: 20px;

	color: #283136;
} 

.show input {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	padding: 16px 0;
	

	border-style: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	color: #000000;
	background-color: #eeeeee;
	text-transform: uppercase;
	border-radius: 2px;
}

.show input:hover {
	background-color: #dfdfdf;
}

.show input:active {
	color: rgba(0,0,0,0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 rgba(0,1,1,0.1);
}

.goods {
	float: right;
	width: 760px;
	margin-bottom: 27px;

	font-size: 0;
}

.goods-item {
	position: relative;
	display: inline-block;
	height: 576px;
	vertical-align: top;
	margin-right: 39px;
	margin-bottom: 34px;
	padding-top: 39px;
}

.goods-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 360px;
	height: 40px;
	background-image: url(../img/goods-heder.png);
	opacity: 0.12;
}

.goods-item:nth-child(2n) {
	margin-right: 0;
}

.goods-fon {
	position: relative;
}

.goods-info {
	display: none;
	position: absolute;
	width: 360px;
	bottom: 0;
	left: 0;
	background-color: #eeeeee;
}

.goods-info h3 {
	margin: 0;
	padding: 0;
	margin-top: 29px;
	margin-bottom: 20px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.goods-info p {
	width: 240px;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 30px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;

	color: #666666;
}

.btn-price {
	display: block;
	width: 200px;
	margin-left: 80px;
	margin-bottom: 43px;
	padding: 16px 0;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	color: #ffffff;
	background-color: #fb565a;
	border-radius: 2px;
}

.btn-price:hover {
	background-color: #e74246;
}

.btn-price:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 #c13135;
}

.goods-item:hover .goods-info,
.goods-info:hover {
	display: block;
}

.goods-item:hover::before {
	opacity: 1;
}

.goods-item:hover {
 	box-shadow: 0 7px 8px -2px #cfcfcf;
}

.pages {
	clear: both;
	margin-left: 400px;
	margin-bottom: 58px;
	margin-top: 50px;

	font-size: 0;
}

.pages a {
	display: inline-block;
	vertical-align: top;
	width: 44px;
	margin-right: 10px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	color: #000000;
	background-color: #eeeeee;
	border:3px solid #eeeeee;
	border-radius: 2px;
}

.pages .pages-active {
	
	background-color: #ffffff;
	border:3px solid #eeeeee;
}

.pages a:last-child {
	width: 260px;
}

.pages a:hover {
	background-color: #dfdfdf;
	border:3px solid #dfdfdf;
}

.pages a:active {
	color: rgba(0,0,0,0.3);
	background-color: #d5d5d5;
	border:3px solid #d5d5d5;
	box-shadow: inset 0 3px 0 rgba(0,1,1,0.1);
}

/* catalog */

.map {
	position: relative;
	width: 1440px;
	height: 417px;
	margin: 0 auto;

}

.internative-map {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.adress {
	position: absolute;
	top: 54px;
	left: 20px;
	width: 319px;
	height: 308px;

	background-color: #ffffff;
	z-index: 20;
}	

.adress h2 {
	margin: 0;
	padding: 0;
	padding-top: 49px;
	padding-bottom: 23px;
	padding-left: 49px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;

}

.adress address {
	padding-left: 52px;
	padding-bottom: 15px;
	font-size: 16px;
	line-height: 18px;
	font-style: normal;

	color: #666666;
}

.adress span {
	padding-left: 52px;
	font-size: 16px;
	line-height: 18px;

	color: #666666;
}

.adress a {
	display: block;
	width: 219px;
	margin-left: 49px;
	margin-top: 35px;
	padding: 16px 0;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	color: #ffffff;
	background-color: #fb565a;
	border-radius: 2px;
}


.socal {
	float: left;
	width: 260px;
	margin-right: 140px;
	margin-top: 70px;
	margin-bottom: 70px;

	font-size: 0;
}

.socal a {
	display: inline-block;
	width: 78px;
	height: 78px;
	margin-right: 12px;

	background-color: #e1e1e1;
	border-radius: 50%;
}

.socal a:nth-child(3) {
	margin-right: 0;
}

.vk {
	background-image: url(../img/vk-icon.png);
	background-repeat: no-repeat;
	background-position: 26px 32px;
}

.socal a:hover {
	background-color: #e74246;
	box-shadow: 0 3px 7px rgba(0,0,0,0.35);
}

.vk:active {
	background-color: #d7373b;
	background-image: url(../img/vk-icon-active.png);
	background-repeat: no-repeat;
	background-position: 26px 32px;
	box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
}

.fc {
	background-image: url(../img/fb-icon.png);
	background-repeat: no-repeat;
	background-position: 32px 27px;
}

.fc:active {
	background-image: url(../img/fb-icon-active.png);
	background-repeat: no-repeat;
	background-position: 32px 27px;
	box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
}

.inst {
	background-image: url(../img/insta-icon.png);
	background-repeat: no-repeat;
	background-position: 29px 27px;
}

.inst:active {
	background-image: url(../img/insta-icon-active.png);
	background-repeat: no-repeat;
	background-position: 29px 27px;
	box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
}

.frends {
	float: left;
	width: 560px;
}

.frends b {
	display: block;
	margin-top: 74px;
	margin-bottom: 10px;


	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.frends span {
	display: block;
	margin-bottom: 70px;

	font-size: 16px;
	line-height: 22px;

	color: #444444;
}

.modal-content {
	display: none;
	position: fixed;
	left: 50%;
	bottom: 15%;

	width: 760px;
	padding: 73px 100px 84px 100px;
	margin-left: -480px; 

	background-color: #ffffff;
	box-shadow: 0 20px 30px rgba(0,1,1,0.75);
	z-index: 1000;
}

.modal-content-show {
	display: block;
}

.modal-content h2 {
	margin: 0;
	margin-bottom: 45px;

	font-size: 45px;
	line-height: 45px;
}

.modal-content p {
	margin: 0;
}

.modal-content label {
	display: block;
	margin-bottom: 12px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.modal-btn {
	position: absolute;
	top: 78px;
	right: 90px;
	width: 21px;
	height: 21px;

	font-size: 0;
	border: none;
	background-color: #ffffff;
	background-image: url(../img/modal-btn.png);
	opacity: 0.3;
	outline: 0;
	cursor: pointer;
}

.modal-btn:hover {
	opacity: 1;
}

.modal-btn:active {
	opacity: 0.1;
}


.modal-btn::after {
	transform: rotate(45deg);
}

.modal-btn::before {
	transform: rotate(-45deg);
}

.name-user {
	display: inline-block;
}

.name-user input,
.mail-user input {
	display: block;
	width: 346px;
	margin-bottom: 35px;
	padding: 14px 0 14px 14px;
	
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;

	color: rgba(68,68,68,0.5); 
	border: 2px solid #d7dcde;
	border-radius: 2px;
}

.name-user input {
	margin-right: 18px;
}

.letter-user textarea {
	display: block;
	width: 735px;
	height: 86px;
	margin-bottom: 47px;
	padding: 14px 0 14px 14px;
	
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;

	color: rgba(68,68,68,0.5); 
	border: 2px solid #d7dcde;
	border-radius: 2px;
}

.name-user input:hover,
.mail-user input:hover,
.letter-user textarea:hover {
	color: rgba(68,68,68,0.5);
	border: 2px solid #b4b9bb;
	border-radius: 2px;
}

.name-user input:focus,
.mail-user input:focus,
.letter-user textarea:focus {
	color: rgb(68,68,68);
	border: 2px solid #000000;
	border-radius: 2px;
}

.mail-user {
	display: inline-block;
}

.modal-content input[type="submit"] {
	display: block;
	width: 260px;
	padding: 16px 0;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;

	color: #ffffff;
	background-color: #fb565a;
	border: none;
	border-radius: 2px;

}

.modal-content input[type="submit"]:hover {
	background-color: #e74246;
}

.modal-content input[type="submit"]:active {
	color: rgba(255,255,255,0.3);
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 rgba(0,1,1,0.1);
}

@keyframes transparency {
 0%  {
	opacity: 0;
}

100% {
	opacity: 1;
}
}

.animation-popup {
	animation-name: transparency;
	animation-duration: 1s;
}